{% extends "Travel/base.html" %}
{% block content %}
{% for post in postskey %}
<!-- <h1>{{ post.title }}</h1>
<p>By {{ post.author }} on {{ post.date_posted }}</p>
<p>{{ post.content }}</p>
 -->
<h1>Our Latest Posts</h1>
<div>
    <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            <a class="nav-link p-1 navbar-brand" href="#">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                    alt="avatar image" height="35">
            </a>
            Posted on {{ post.date_posted|date:"F d, Y" }} by
            <a href="#">{{ post.author }}</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}